*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: neue system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.header-maincontainer{
    width: 1249px;
    height: 64px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    position: sticky;
    font-family: 'Courier New', Courier, monospace;

}
.nav1{
    width: 674px;
    height: 64px;
}
.nav1 button{
    border: none;
    background-color: white;
    
}
.nav1 li{
    list-style: none;

} 
.search1 input{
    width: 215px;
    height: 36px;
    /* border: none; */
    /* border-top-right-radius: 25px;
    border-bottom-right-radius: 25px; */
    /* border-color: transparent; */
    margin-left: 5px;
    border-right-color: #e9e9e9;
    border-top: none;
    border-bottom: none;
    border-left: none;
    /* border-right: #e9e9e9; */
    
    
}
.search1{
    width: 237px;
}
.search1 i{
    background-color: white;
    

    margin-left: 10px;
}
.search1 button{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;  
    border-color: white;
    background-color: white;
    border-bottom: white;
    border-right: white;
    
    
    
}
.search1{
    outline: 2px solid #e9e9e9;
    width: 335px;
    height: 40px;
    border-radius: 20px;
    border: 0px;
    
}

.talentbtn{
    padding-left: 5px;
    width: 72px;  
    
    
    
    
}
.btnlogin{
    width: 150px;
    margin-left: 20px;
    
    gap: 10px;
}
.btnlogin p{
    margin-top: 10px;
    width: 60px;
    margin-left: 10px;

}
.btnlogin button{
    border-radius: 10px;
    width: 100px; 
    height: 40px;
    background-color: #108a00;
    color: white;
    border: none;
}
.nav1 ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;

}

.container2{
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;;

}
.head2{
    width: 1250px;
    height: 64px;
    
    
}
.head2 li{
    list-style: none;
    
}
.head2 ul{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    
}

            /* section 1 start */


.banner1{
    display: flex;
    width: 1200px;
    height: 548px;
    border-width: 1px;
    background-color: #fcfcfc;
    border-color: #d9d9d9;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
    border-style:groove;

}
.sec1-content{
    padding-bottom: 450px;
    
    text-align: center;
    width: 580px;
    height: 116px;
}
.sec1-content h1{
    font-size: 56px;


}
.sec1-content p{
    font-size: 16px;
    padding-top: 10px;


}
.animatedbtn button{
    width: 180px;
    height: 28px;
    border-radius: 30px;
    margin-top: auto;
    margin-bottom: auto;
    border-color: transparent;
    color: #868684;
    
}
.animatedbtn{
    width: 365px;
    height: 38px;
    padding-top: 10px;
    margin-left: 8px;
    
    
    
}
.animated-maincontainer{
    width: 450px;
    height: 50px;
    background-color: black;
    border-radius: 30px;
    margin-left: 60px;
    margin-top: 50px;
}


            /* section 2 */



            .section2{
                width: 1221px;
                height: 370px;
                display: flex;
                margin-left: auto;
                margin-right: auto;
                margin-top: 50px;
                justify-content: space-evenly;
                
            }
.sec2-maincontainer{
    display: flex;
    gap: 40px;
    
    
   
}
.animation{

}
.sec2-child{
    
    width: 650px;
    height: 365px;
    

}
.sec2-child h4{
    font-size: 48px;

}
.contentmain {
    margin-top: 30px;
    

}

.sec2btn1{
    width: 164px;
    height: 40px;
    background-color: #108a00;
    color: white;
    border-radius: 10px;
    border: transparent;
    font-weight: 500;
}
.sec2btn2{
    width: 164px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    border-width: 2px;
    border-color: #108a00;
    color: #108a00;
    font-weight: 500;

}
            /* section 2  End */

            /* section 3  Start */

.sec3-maincontainer{
    
    width: 1349px;
    height: 415px;
    
    margin-top: 50px;

}
.sec3cards{
    display: flex;
}
.sec3-maincontainer h4{
    font-size:40px ;   
}
.atext p{
    font-size: 20px;

}
.atext a{
    font-size: 20px;

}
.iconstar{
    color: #14a800;
}
.card-content{
    display: flex;
    align-items: center;
    
    gap: 5px;
    margin-left: 65px;

}
.card-content span{
    margin-right: 5px;
    margin-top: 12px;
}
.card1{
    background-color: #f9f9f9;
    border-radius: 15px;
}



            /* section 3  End */
            
            /* section 4  Start */

.section4{
    width: 1349px;
    height: 581px;  
    margin-top: 30px;

}
.sec4-maincontainer{
    
    width: 100%;
    height: 581px;
    
    
}
.sec4-content{
    width: 60%;
    height: 581px;
    background-color: #13544e;
    border-radius: 10px;
}
.sec4-img{
    width: 40%;
    height: 581px;
  
}
.sec4-img img{
    border-radius: 10px;
    
}
.sec4-content h3{
    font-size: 54px;
    color: white;
    
}
.sec4-content .span1{
    color: #91e6b3;
}
.sec4-content h4{
    color: white;
    
}
.sec4-content .span2{
    color: #fff4d1 ;
}
.iconlogo{
    color:#fff4d1 ;
}
.sec4btn1{
    width: 133px;
    height: 40px;
    border-radius: 10px;
    color: #13548c;
    background-color: white;
    border: transparent;
}



            /* section 4  End */


.sec5-maincontainer{
    width: 1250px;
    height: 652px;
    background-color: #108a00;
    background-image: url(./Assests/Images/sec5.jpg);
    background-size: cover;
    position: relative;
    color: white;
}
.sec5-content1 h1 span{
    font-size: 64px;


}
.card-main{
    width: 1200px;
    height: 165px;
    
}
.subcard{
    width: 1121px;
    display: flex;
    gap: 30px;
}
.cards1{
    background-color:#108a00 ;
    width: 365px;
    height: 165px;
    border-radius: 10px;
}
.cards2{
    background-color:#108a00 ;
    width: 365px;
    height: 165px;
    border-radius: 10px;
}
.cards3{
    
        background-color:#108a00 ;
        width: 365px;
        height: 165px;
        border-radius: 10px;
    }

            /* section 5 End */

            /* section 6 Start */


.sec6-main{
    width: 1221px;
    height: 650px;
    background-color: #108a00;
    position: relative;
    border-radius: 10px;
  
}
.content-main{
    position: absolute;
    left: 810px;
    top: 310px;
    color: white;


}
.child1{
    background-color: #f9f9f9;
    position: relative;
    width: 730px;
    height: 650px ; 
    margin-left: -15px;
    margin-bottom: -20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.bg-img{
    display: flex;
    justify-content: end;
    position: absolute;
    left: 170px;
    top: 20px;
}
.sec-6icon1{
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.sec-6icon2{
    display: flex;
    align-items: center;
    gap: 15px;
}
.sec6-1h1{
    font-size: 64px;

}
.icon{
    display: flex;
    align-items: center;  
}
iconpara{
    color: #67677a;
}


            /* section 6 End */

            /* section 7 Start */

.sec7-main{
    width: 1221px;
    height: 682px;
    background-color: #1f57c3;
    border-radius: 10px;

}
.sec7-bgimage{
    width: 611px;
    height: 682px;
    position: relative;
    left: -12px;
    /* background-image: url(./Assests/Images/sec7.jpg); */
    
}
.sec7-content{
    color: white;
    width: 611px;
    height: 682px;
   

}
.sec7-bgimage img{
    border-radius: 10px;

}
.sec7-content .h21{
    font-size: 64px;
    

}
.hrsec7{
    width: 100%;
    color: white;
    margin-top: 180px;
}
.btnsec7{
    width: 186px;
    height: 40px;
    color: #1f57c3;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    background-color: white;   
}

            /* section 6 End */



.sec8{
    width: 1221px;
    height: 651px;
    
    
}
.card-main8{
    color: white;

}
.card1sec8{
    width: 576px;
    height: 456px;
    background-color: #13544e;
    border-radius: 15px;
}
.card2sec8{
    width: 576px;
    height: 456px;
    background-color: #bc5118;
    border-radius: 15px;
}
.hr8{
    width: 90%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

}
.sec8p1{
    font: 16px;
    
}
.sec8res{
    position: relative;
    padding-top: 20px;
}
.mainheading{
    font-size: 64px;
    padding-top: 60px;
   

}




.sec9-main{
    width: 1250px;
    height: 211px;
    margin-top: 150px;
    background-color: #f9f9f9;
    position: relative;
    border-radius: 15px;
    
}

.btn9{
    width: 135px;
    height: 40px;
    border-radius: 10px; 
    background-color: white;
    color: #108a29;
    border-color: #108a29;
    font-weight: 400;
    
}
.img9{
        position: absolute;
        left: 900px;
        top: 18px;

}
.card-text{
    margin-top: 10px;
    color: #67676c;
}

            /* section 10 Start */

.sec10-main{
    width: 1349px;
    height: 701px;
}
.list-sec10 li{
    list-style: none;
    color:#67676c ;

}
.list-sec10 li:hover{
    color:#108a00 ;
    font-size: 40px;
}
.ligreen span{
    color: #108a00;
}
.sec10ul{
    font-weight: 500;
}

            /* footer */

.footer-main{
    width: 1349px;
    height: 691px;
    background-color: #181818;
    color: white;


}
.footer-content li{
    list-style: none;
    line-height: 2.2;
    
}
.footer2{
    width: 1221px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    
    

}
.footericon li{
    list-style: none;
}
.footericon {
    display: flex;
    align-items: center;
}
.footericon2 li{
    /* width: 200px;
    height: 40px; */
    list-style: none;
    
}
.footericon2 {
    display: flex;
    align-items: center;
}
.hrft{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.ftlast li{
    list-style: none;
    display: flex;
    
}
.ftlast ul{
    display: flex;
    gap: 20px;
    
}
.ftlast{
    display: flex;
    gap: 50px;
    justify-content: center;
}